#match_show.row
    .col-md-8.col-md-offset-2
        .panel.panel-default
            .panel-heading.pin_image
                %h3= @map.title
                =image_tag @map.image.url(:medium)
                %br/
                %br/
                =link_to "Create another map", new_map_path
                %br/
                =link_to "Delete Map", map_path, method: :delete, data: { confirm: "Holy McDoodles, you're deleting this?" } 